
/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
#notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 250px;
}


.notification h1 {
    white-space: nowrap;  /* Prevents text from wrapping */
    overflow: hidden;     /* Ensures that overflow text is hidden */
    text-overflow: ellipsis; /* Adds ellipsis (...) for overflowing text */
    text-align:center;
    display:block;
    color:#9d99a5;
    font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size:17px;
margin-top:10px;
  font-style: normal;
    padding: 3px 3px 0px 3px;
}

.notification hr {
    margin: 10px 0;
    border: none;
    width: 100%;
    border-top: 1px solid;
    border-bottom: 1px solid transparent; /* Transparent border at the bottom */
    border-radius: 10px; /* Rounded corners at the bottom */
}

.notification a {
    color:#9d99a5;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size:17px;
  padding: 0px 6px 6px 6px;
  text-align:center;
  display:block;
}
.notification {
    background-color: #1D1B20;
    border: 1px solid #79747E;
    margin-bottom: 10px;
    border-radius: 5px;
    animation: slideInRight 0.3s cubic-bezier(0.020, -0.150, 0.000, 1.650);;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideOutRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}


.notification.slide-out {
    animation: slideOutRight 0.3s cubic-bezier(0.020, -0.150, 0.000, 1.650);
}